* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

main {
    overflow-x: hidden;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li,
a,
input,
select {
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

a{
    text-decoration: none;
}



/* Home page start */

.nav-img{
    width: 150px;
    height: 60px;
}
.nav-btn{
    background-color: #793bf3;
    color: #ffffff;
    border: #736fb3;
    cursor: auto;
    border: #000;
    text-transform:uppercase;
}
.nav-btn:hover{
    background-color: #f6f6f6;
    color: #736fb3;
}

.nav-link{
    color: #1f232b;
    text-decoration: none;
    font-size: 12px;
    font-weight: 900;
}
.nav-link:hover{
    color: #55bce7;
}

/*  */
.apply-now{
    color: #ffffff;
    background-color: #55bce7;
}
.apply-now:hover{
    background-color: #ffffff;
    color: #000;
    border: 2px solid #55bce7;
}

.carousel-control-next{
color: #000;
}
.carousel-control-prev{
color: #000;
}
.carousel-opacity{
    background:transparent;
}
.highlight{
    color: #55bce7;
    font-weight: 600;
}
.lightfont{
    color: #1f232b;
    font-weight: 500;
}
.upper-foot{
background: linear-gradient(90deg, rgba(115,111,179,1) 0%, rgba(85,188,231,1) 100%);
    position:relative;    

}
.highlight1{
    color: #55bce7;
    font-weight: 600;
}
.lightfont2{
    color: #1f232b;
    font-weight: 500;
}
.amt-text-img{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.amt-text{
    width: 50%;
}
.amt-head-img{
    width: 50%;
}

.homePage .home_carousel{
    position: relative;
    top: -89px;
    background-color: lightgray;
    opacity: 0.9;
    height: 1;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homePage .form1{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.homePage .form_p{
    text-align: center;
    color: #fff;
}

.homePage .form_h1{
    text-align: center;
    font-size: 50px;
    color: #fff;
}

.homePage .input1{
    background-color: black;
    width: 90%;
    opacity: 0.6;
    padding: 10px;
}

.homePage .extra{
    height: 300px;
    width: 100%;
    color: #fff;
}

.homePage .form__whole{
    position: absolute;
    /* top: 50px; */
    left: 30%;
    margin-top: 50px;
}

.homePage .whole_form{
    display: flex;
    justify-content: center;
}

.homePage .home_carousel2{
    background:  linear-gradient(90deg, rgba(115,111,179,1) 0%, rgba(85,188,231,1) 100%);
    opacity: 0.8;
}

.text-gradient{
    font-size: 168px;
    font-weight: 900;
    word-wrap: break-word;
    margin: 0%;
    padding: 0%;

    /* font-family: url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,900&display=swap'); */
}
.amt-text__ {
    position: relative;
    margin-bottom: 80px;
    
}

.head-amt-text{
    font-size: 45px;
    font-weight: 700;
    /* text-align: center; */
    /* position: absolute;
    bottom: -120px ;
    left: 0;
    right: 0; */
    text-align: center;
    margin-bottom: 10px;
    
}
.subhead-amt-text{
    font-size: 14px;
    color: #1f232b;
    font-weight: 600;
}

.amt-para{
    text-align: justify;
}
.amt-img{
    width: 100%;
    height: auto ;
    float: right;
    display: b;
}
.banner-1-0{
    font-size: 3rem;
    font-weight: 100;
    color: #1f232b;
}
.banner-1-1{
    font-weight: 900;
    font-size: 45px;
    color: #1f232b;
}
.banner-2-0{
    font-weight: 400;
    font-size: 4rem;
    color: #1f232b;
    text-align: left;
    font-weight: 300;
}
.banner-3-0{
    font-size: 3rem;
    font-weight: 900;
    color: #1f232b;
    text-align: left;
}
.banner-3-1{
    font-size: 4rem;
    font-weight: 900;
    color: #1f232b;
    text-align: left;
}
.find-a-job-btn{
    color: #ffffff;
    background-color: #55bce7;
    margin-right: 60%;
    margin-bottom: 20%;
}
.find-a-job-btn:hover{
    background-color: #ffffff;
    color: #000;
    border: 2px solid #55bce7;
}
.carousel-text-1{
    padding-bottom: 16%;
}
.details-text{
    font-size: 40px;
    font-weight:900;
}
.title-font{
    color: #55bce7;
}
.fa-solid{
    color: #55bce7;
    font-size: 30px;
}

 /* .bg-form-img{
} */
.bg-form-text{
    position: absolute;
    top: -50px;
    text-align: center;
} 

/* Home page end */

/* footer  */
.footer {
    padding-top: 80px;
    background-image:  url("../images/footer\ 1PNG.png");
    background-position:top;
    text-align: center;
}

.img-1-text {
    font-weight: 500;
    color: #808080;
    margin-top: 20px;
}

ul.top_infomation li  {
    display: block;
    font-size: 17px;
    color: #808080;
}
.heading-3{
    font-size: 17px;
    text-align: center;
    color: #808080;
}
.footer-3{
    margin-left: 50%;
}    

.copyright p {
    border-top:#808080 solid 1px;
    padding-top: 20px;
    color: #000;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    font-weight: normal;
    
}




/* CONTACT US */



.form-img{
    justify-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    transition: transform .2s; 
}
.form-img:hover {
    transform: scale(1.25);
}
.form-card-text{
    background-color: #f6f6f6;
}
.form-card-head{
    color: #1f232b;
    font-weight: 700;
}
.form-card-subhead{
    color: #1f232b;
    font-weight: 500;
}


.flip-box {
    background-color: transparent;
    width: 550px;
    height: 260px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateX(180deg);
  }
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-box-front {
    background-color: #1abc9c;
    color: black;
  }
  
  .flip-box-back {
    background-color: #4054b2;
    color: white;
    transform: rotateX(180deg);
  }
.flip-icon-1{
    font-size: 60px;
    color: #ffffff;
}
.flip-head-1{
    color: #ffffff;
    font-weight: 600;
}
.flip-para-1{
    color: #ffffff;
}
.flip-btn-1{
    background-color: #4054b2;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 5px;
    width: 80px;
    
}


/* RESOURCES */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: black;
    text-align: center;
    margin-left: 40%;
    font-weight: 900;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: green;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  /* resource card */

  .cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .card {
    margin: 30px auto;
    width: 200px;
    height: 200px;
    border-radius: 40px;
    box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 20px;
    object-fit: cover;
  }
  
  .card:hover {
    transform: scale(0.9, 0.9);
  }
  
  
.card-list {
    flex-direction: column;
}
  

/* TEAM  */
.amt-team-head{
    font-size: 44px;
    color: #55bce7;
    font-weight: 700;
}
.amt-para-team-1{
    color: #808080;
    text-align: justify;
    padding-left: 10%;
}
.amt-img-team-2{
    display: flex;
    /* justify-content: center; */
    float: right;
    width: 85%;
    height: 320px;
    padding-left: 10%;
}
/* .amt-img-team-2{
    animation: infinite ease-in-out;
} */

.amt-img-team-2-transi {
    width: 100%;
    vertical-align: middle;
    animation: puls 3s  infinite both ease-in-out;
}
  
  @keyframes puls {
    0% ,100%{
      transform: scale(.8);
    }
    50% {
      transform: scale(1);
    }
  }
.amt-para-team-1-2{
    color: #1f232b;
}